body {
    background: black;
}
h1{
    color: white;
}


.characterList {
  overflow-x: auto;
   display: inline-block;
  float: none;
  white-space: nowrap;
}

 .planetList{
  overflow-x: auto;
   display: inline-block;
  float: none;
  white-space: nowrap;
}

.starshipList{
  overflow-x: auto;
   display: inline-block;
  float: none;
  white-space: nowrap;
}